div.card {
  margin: auto;
  width: 70%;
  height: 90%;
  padding: 15px;
  position: relative;
  background: white;
  border: 1px solid #d2d2d2;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  text-align: center;
}

.orderRow {
  margin: 20px;
  border: solid black 1px;

}

.orderRow:hover {
  cursor: pointer;
}
