<div class="card">
  <h1> Welkom {{user?.email}}</h1>
  <div class="row" *ngFor="let order of orders">
    <h1 *ngIf="order == orders[0]">Orders</h1>
    <div class="orderRow" (click)="toggleOrderProducts(order?.order_id)">
      <h1>order {{order?.order_id}} status {{order?.order_status}}</h1>
      <div id="orderProducts{{order?.order_id}}" class="orderProducts" hidden>
        <p *ngFor="let orderProduct of order.order_products">
          {{orderProduct.amount}}x {{orderProduct.product_name}}
        </p>
      </div>
    </div>
  </div>
</div>
