<div class="shoppingCartBox">
  <hr>
  <div class="list">
    <ul>
      <li><h1>Cart <span class="price"><i class="fa fa-shopping-cart"></i></span></h1></li>
    </ul>

    <div *ngIf="shoppingCartItems.length === 0" class="ShoppingCartItem" >
      <ul><li>Geen producten in shoppingcart</li></ul>
    </div>
    <div class="ShoppingCartItem" *ngFor="let item of shoppingCartItems">
      <ul>
        <li>{{item.product.name}} ({{item.amount}})
          <button class="btn btn-danger" (click)="removeOrderProduct(item.product.id)">- 1</button>
          <span class="price">€ {{priceFixedDigits(item.product.price)}}</span>
        </li>
      </ul>
    </div>
    <hr>
    <div class="totalAmount">
      <ul><li>Total:   <span class="price">€  {{totalAmountString}}</span></li></ul>
    </div>
  </div>
  <span class="pull-right">
    <button *ngIf="totalAmount >= 0 && isAuthenticated() && shoppingCartItems.length > 0" (click)="onOrder()"class="btn btn-success shopping-cart-button">bestellen</button>
    <button *ngIf="(!isAuthenticated())" class="btn btn-primary shopping-cart-button" (click)="onRegister()" >registreer</button>
    <button *ngIf="(!isAuthenticated())" class="btn btn-primary shopping-cart-button" (click)="onLogin()">Inloggen</button>
  </span>
</div>


