.shoppingCartBox {
  font-size: 24px;
  margin-left: 10%;
  width: 50%;
  flex-wrap: wrap;
  overflow: auto;

}

.list {
  background-color: #f2f2f2;
  padding: 5px 20px 15px 20px;
  border: 1px solid lightgrey;
  border-radius: 3px;

}

/*-ms-flex-wrap: wrap; !* IE10 *!*/
/*margin: 0 -16px;*/
li {
  /*padding: 10px;*/
  overflow: auto;
}

li:hover {
  background: #eee;

}

span.price {
  float: right;
}

hr {
  display: block;
  margin-before: 0.5em;
  margin-after: 0.5em;
  margin-start: auto;
  margin-end: auto;
  overflow: hidden;
  border-style: inset;
  border-width: 1px;
}

.icon-container {
  margin-bottom: 20px;
  padding: 7px 0;
  font-size: 24px;
}

.shopping-cart-button {
  text-align: center;
  margin-top: 30px;
  width: 200px;
  height: 50px;
  margin-left: 20px;
}
