/*input.ng-invalid.ng-touched {*/
  /*border: 1px solid red;*/
/*}*/

input.ng-invalid.ng-touched{
  border: 1px solid red;
}

.card{
  padding: 60px;
  background: white;
  border: 1px solid #d2d2d2;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}
.error-message {
  color: red;
}
