<div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
  <form [formGroup]="regForm" (ngSubmit)="onSubmit(regForm)">
    <hr>
    <div class="card">
      <div class="form-group">
        <label for="email">email addresss</label>
        <input
          type="email"
          id="email"
          name="email"
          formControlName="email"
          class="form-control">
      </div>
      <div class="form-group">
        <label for="passwordReg">password</label>
        <input
          type="password"
          autocomplete="new-password"
          id="passwordReg"
          formControlName="password"
          class="form-control">
      </div>
      <div class="form-group">
        <label for="zipcode">postcode</label>
        <input
          type="text"
          id="zipcode"
          name="zipcode"
          pattern="^[0-9]{4}\s?[A-Za-z]{2}"
          formControlName="zipcode"
          class="form-control">
      </div>
      <div class="street">
        <label for="street">straat</label>
        <input
          type="text"
          id="street"
          formControlName="street"
          class="form-control">
      </div>
      <div class="form-group">
        <label for="house_nr">huis nummer</label>
        <input
          type="number"
          id="house_nr"
          formControlName="house_nr"
          class="form-control">
      </div>
      <div class="form-group">
        <label for="place">plaats</label>
        <input
          type="text"
          id="place"
          formControlName="place"
          class="form-control">
      </div>
      <label class="error-message">{{errorMessage}}</label> <br/>
      <button class="btn btn-primary" type="submit" >Sign Up</button>
    </div>
  </form>
</div>


<!--<form [formGroup]="regForm" (ngSubmit)="onSubmit(regForm)">-->
  <!--<ul>-->
    <!--<li>-->
      <!--<label for="usernameReg">username</label>-->
      <!--<input type="text" id="usernameReg" formControlName="usernameReg">-->
    <!--</li>-->
  <!--</ul>-->
  <!--<button class="btn btn-primary" type="submit" >Sign Up</button>-->
<!--</form>-->
