.nav-container {
  display: flex;
  background-color: #272727;
  color: #FFFFFF;
  width: available;
  height: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.title-container {
  display: flex;
  justify-content: flex-start;
  margin: 10px 20px;
  cursor: pointer;
  font-family: gtFont;
  .title {
    font-size: 32px;
    margin: 0;
    user-select: none;
  }
  .beer {
    color: #E67E22;
    margin-right: 5px;
  }
}

.nav-routes-container {
  display: flex;
  justify-content: flex-start;
  margin: 0;
  font-size: 24px;
  width: 80%;
  .nav-route {
    width: 100%;
    //border: 2px solid red;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .nav-route:hover {
    background-color: #111111;
    cursor: pointer;
  }

  .nav-routes-left {
    display: flex;
    justify-content: space-around;
    //justify-content: flex-start;
    align-items: center;
    width: 80%;
    height: available;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
    vertical-align: center;
    list-style-type: none;
    .nav-route-left {
      height: 100%;
      float: left;
    }
  }
  .nav-routes-right {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    width: 40%;
    margin-right: 0px;
    height: available;
    text-align: center;
    vertical-align: middle;
    .nav-route-right {
      height: 100%;
      float: right;
    }
  }
  a {
    height: available;
    //padding: 16px;
    text-align: center;
    color: white;
    text-decoration: none;
  }
  a:hover {
    background-color: #111111;
  }
  li {
  }
  li:hover {
    background-color: red;
  }
  .nav-icon {
    padding-right: 30px;

  }
}

/*ul {*/
/*  list-style-type: none;*/
/*  margin: 0;*/
/*  height: 72px;*/
/*  width: auto;*/
/*  overflow: hidden;*/
/*  background-color: #333333;*/
/*  text-align: center;*/
/*}*/

/*li {*/
/*  float: left;*/
/*  text-align: center;*/
/*  vertical-align: middle;*/

/*}*/

/*nav {*/
/*  width: 100%;*/
/*  margin: auto;*/
/*}*/
/*.navbar-default {*/
/*  background-color: lightgray;*/
/*  float: left;*/
/*  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);*/
/*}*/

/*.navbar-brand {*/
/*  color: black;*/
/*  font-size: 25px;*/
/*  font-weight: bold;*/
/*  cursor: pointer;*/
/*}*/

/*header {*/
/*  !*padding-top: 180px;*!*/
/*  font-size: 16px;*/
/*  font-family: gtFont;*/
/*  color: black;*/
/*  background-image: url(../../../assets/images/regular-images/drawn_beer.jpg);*/
/*  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);*/
/*  width: 100%;*/
/*  !*height: 15%;*!*/
/*  margin-bottom: 20px;*/
/*  position: relative;*/
/*}*/
/*.navbar-home {*/
/*  margin: 30px;*/
/*  width: 15px;*/
/*}*/

/*nav ul {*/
/*  list-style-type: none;*/
/*  margin: 0;*/
/*  padding: 0;*/
/*  overflow: hidden;*/
/*  background-color: #333333;*/
/*}*/

/*nav ul li {*/
/*  !*list-style: none;*!*/
/*  !*display: inline-block;*!*/
/*  !*padding: 0 10px;*!*/
/*  !*!*vertical-align:middle;*!*!*/
/*  !*horizontal-align:middle;*!*/
/*  float: left;*/
/*}*/


/*nav ul li.active {*/
/*  background-color: darkgray;*/
/*}*/

/*.navLog-out {*/
/*  list-style: none;*/
/*  display: inline-block;*/
/*  padding: 0 25px;*/
/*  vertical-align:middle;*/
/*  margin-bottom: 20px;*/
/*}*/

/*nav ul li:hover {*/
/*  background: darkgray;*/
/*  cursor: pointer;*/
/*  border-radius: 10px;*/
/*}*/

/*nav ul li a {*/
/*  display: block;*/
/*  !*height: 48px;*!*/
/*  line-height: 48px;*/
/*  padding: 0 10px;*/
/*  color: black;*/
/*  background: transparent;*/
/*}*/
/*nav ul li p {*/
/*  !*display: block;*!*/
/*  !*!*height: 48px;*!*!*/
/*  !*line-height: 48px;*!*/
/*  !*padding: 0 10px;*!*/
/*  !*color: black;*!*/
/*  !*background: transparent;*!*/
/*}*/

/*.router-link-right {*/
/*  float: right;*/
/*}*/
