<header>
<!--  <nav class="navbar navbar-default">-->
  <nav class="nav-container">
    <div class="title-container" routerLink="/">
      <p class="title beer">Bier</p>
      <p class="title">Besteld</p>
    </div>
    <div class="nav-routes-container">
      <div class="nav-routes-left">
        <div class="nav-route nav-route-left" routerLink="/shop" >Products</div>
        <div class="nav-route nav-route-left" routerLink="/about">About</div>
        <div class="nav-route nav-route-left" *ngIf="isAdminObservable" routerLink="/secretAdminStuff">Admin</div>
      </div>

<!--      <ul class="nav-routes-left">-->
<!--        <li class="nav-route-left" routerLink="/shop" routerLinkActive="active"Products>Products</li>-->
<!--        <li class="nav-route-left" routerLink="/about" routerLinkActive="active">About</li>-->
<!--      </ul>-->
      <div class="nav-routes-right">

        <div class="nav-route nav-route-right" *ngIf="!isAuthenticatedObservable" routerLink="/login">Login</div>
        <div class="nav-route nav-route-right" *ngIf="isAuthenticatedObservable" routerLink="/" (click)="onLogOut()">Log Out</div>
        <div class="nav-route nav-route-right dropdown" *ngIf="isAuthenticatedObservable" routerLinkActive="active" routerLink="/users/{{getUserName()}}">My Account</div>
<!--        <div class="nav-route nav-route-right" *ngIf="isAuthenticatedObservable" routerLinkActive="active" routerLink="/shopping-cart">My Account</div>-->
        <div class="nav-icon" *ngIf="this.shoppingCartItems.length > 0">
          <div class="nav-route nav-route-right" *ngIf="this.shoppingCartItems.length > 0" routerLink="/shopping-cart" >
            <i class="fa fa-shopping-cart fa-2x"></i>   ({{this.shoppingCartItems.length}})
          </div>
        </div>
        <div class="nav-icon" *ngIf="this.shoppingCartItems.length == 0">
          <div class="nav-route nav-route-right" *ngIf="this.shoppingCartItems.length == 0" routerLink="/shopping-cart" >
          <i class="fa fa-shopping-cart fa-2x"></i></div>
        </div>
      </div>

<!--      <ul class="nav-routes-right">-->
<!--        <li class="nav-route-right" *ngIf="!isAuthenticatedObservable" routerLinkActive="active"><a routerLink="/login"> Login</a></li>-->
<!--        <li class="nav-route-right" *ngIf="isAuthenticatedObservable"><a  routerLink="/home" (click)="onLogOut()">Log Out</a></li>-->
<!--        <li class="nav-route-right dropdown" *ngIf="isAuthenticatedObservable" routerLinkActive="active">-->
<!--          <a routerLink="/users/{{getUserName()}}">My Account</a>-->
<!--        </li>-->
<!--        <li *ngIf="this.shoppingCartItems.length > 0" class="nav-route-right" routerLinkActive="active">-->
<!--          <a routerLink="/shopping-cart" ><i class="fa fa-shopping-cart fa-2x"></i>({{this.shoppingCartItems.length}})</a>-->
<!--        </li>-->
<!--        <li *ngIf="this.shoppingCartItems.length == 0" class="nav-route-right" routerLinkActive="active">-->
<!--          <a routerLink="/shopping-cart" ><i class="fa fa-shopping-cart fa-2x"></i></a>-->
<!--        </li>-->
<!--        <li class="router-link-right" *ngIf="isAdminObservable"><a routerLink="/secretAdminStuff">Admin</a></li>-->
<!--      </ul>-->
    </div>
  </nav>
</header>
