<hr>
<div class="buttonWrapper">
  <button class="btn btn-success add-product-button" (click)="onAddProduct()" >Product toevoegen</button>
</div>
<hr>
<div class="admin-products-wrapper">
  <div *ngFor="let product of products; let i = index" >
    <div class="product-item-wrapper">
      <admin-product
        [product]="product">
      </admin-product>
    </div>
</div>
</div>
