//.admin-product {
//  background-color: #016b6d;
//}
.admin-products-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.buttonWrapper {
  text-align: center;
  position: relative;
}

.product-item-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 50px;
  padding-right: 50px;
}

.add-product-button {
  width: 400px;
  height: 74px;
}
