.h1 {
  font-size: 600px;
}
.button {
  width: 100px;
  height: 50px;
}
.shop-side-bar {
  /*background-color: white;*/
  margin-left: 40%;
  margin-top: 10px;
  padding: 6%;
  font-size: 30px;
  height: 100%;
  min-height: 800px;
  background-color: lightblue;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

/* Customize the label (the container) */
.product-toggle-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.sub-product-toggle-container {
   display: block;
   position: relative;
   padding-left: 50px;
   margin-bottom: 5px;
   cursor: pointer;
   font-size: 15px;
   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
}

/* Hide the browser's default checkbox */
.product-toggle-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.sub-product-toggle-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 3px;
}
.small-checkmark {
  position: absolute;
  top: 0;
  left: 20px;
  height: 20px;
  width: 20px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.product-toggle-container:hover input ~ .checkmark {
  background-color: #ccc;
}

.sub-product-toggle-container:hover input ~ .small-checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.product-toggle-container input:checked ~ .checkmark {
  background-color: #2196F3;
}
.sub-product-toggle-container input:checked ~ .small-checkmark {
  background-color: #2196F3;
}
/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.small-checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.product-toggle-container input:checked ~ .checkmark:after {
  display: block;
}

.sub-product-toggle-container input:checked ~ .small-checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.product-toggle-container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.sub-product-toggle-container .small-checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
