<div class="shop-container">
  <div class="row">
    <div class="col-md-3">
      <div class="shop-side-bar">
        <div class="col-xs-12" *ngFor="let checkbox of checkboxes; let i = index">
          <label class="product-toggle-container">{{checkbox.category}}
            <input type="checkbox" [(ngModel)]="checkbox.value">
            <span class="checkmark"></span>
          </label>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div *ngFor="let product of products">
        <shop-product
          [product]="product"
          [hidden]="filterActive() && !activeCategory(product.category)">
        </shop-product>
      </div>
    </div>
  </div>
</div>

