<header></header>

<body>
  <div class="card">
    <h1>Toms bier van het web</h1>
    <h1>Meer dan 20 soorten bier</h1>
    <h1>Vandaag besteld morgen in huis</h1>
    <img class="home-image" src="https://i.imgur.com/KJgrOJE.png" title="source: imgur.com"/>
  </div>
</body>
