div.card {
  margin: auto;
  width: 40%;
  height: 350px;
  margin-top: 50px;
  padding: 25px;
  display: flex;
  position: relative;
  background: white;
  border: 1px solid #d2d2d2;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

html {
  background: #93979e;
}

input {
  width: 60%;
}
form {
  width: 100%;
}

label {
  width: 30%;
  float: left;
  margin-left: 5px;
}

li {
  width: 100%;
  margin: 1.25em 3em 0 0;
  list-style: none;
  pasition: relative;
}
ul {
  width: 100%;
  margin: 1.25em 3em 0 0;
  list-style: none;
  pasition: relative;
}

.error-message {
  width: 100%;
  color: red;
}

.btn {
  margin: auto;
  position: relative;
  width: 150px;
}

.register-link {
  float: right;
  margin: auto;
}
