<div class="card">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm)">

    <ul>
      <div class="row">
        <label class="error-message" >{{errorMessage}}</label>
      </div>
      <li>
        <div class="row">
          <label for="email">Email</label>
          <input type="text" id="email"  formControlName="email">
        </div>
      </li>
      <li>
        <div class="row">
          <label for="password">Password</label>
          <input type="password" id="password"  formControlName="password">
        </div>
      </li>
      <li>
        <div class="row">
          <button type="submit" class="btn btn-primary btn-lg">log in</button>
          <a class="register-link" routerLink="/register"> Register account</a>
        </div>
        <div class="row">
        </div>
      </li>
    </ul>
  </form>
</div>
