input.ng-invalid.ng-touched{
  border: 1px solid red;
}

.card {
  margin: auto;
  width: 90%;
  height: 90%;
  padding: 15px;
  /*position: relative;*/
  background: white;
  border: 1px solid #d2d2d2;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  /*text-align: center;*/
}

.add-product-image {
  height: 128px;
  width: auto;
}
