<div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
  <div class="card">
    <form [formGroup]="addProductForm" (ngSubmit)="onSubmit(addProductForm)">
      <hr>
      <div class="form-group" autocomplete="off">
        <label for="name">naam</label>
        <input
          type="text"
          id="name"
          formControlName="name"
          class="form-control">
      </div>


      <div class="form-group">
        <mat-form-field appearance="fill">
          <mat-label>Category</mat-label>
<!--          <mat-select [formControl]="categoryObject" (selectionChange)="dropdownSelectionChange($event)">-->
          <mat-select for="category" (selectionChange)="dropdownSelectionChange($event)">
            <mat-option [value]="{id: 0, category:'categoryName'}" >new Category</mat-option>
            <mat-option *ngFor="let category of categories" [value]="category">
              {{category.category}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="form-group" *ngIf="this.newCategory">
        <label for="newCategoryName">New category name</label>
        <input
          type="text"
          id="newCategoryName"
          name="newCategoryName"
          formControlName="newCategoryName"
          class="form-control">
      </div>

      <div class="form-group">
        <label for="price">prijs</label>
        <input
          type="number"
          id="price"
          formControlName="price"
          class="form-control">
      </div>

      <div class="form-group">
        <label for="brewery">brouwerij</label>
        <input
          type="text"
          id="brewery"
          name="brewery"
          formControlName="brewery"
          class="form-control">
      </div>
      <div class="form-group">
        <div *ngIf="this.editMode && this.product.img !== null" class="currentImg">
          <label for="img">Current Image</label>
          <img class="add-product-image" [src]="'/assets/uploads/' + product.img" alt="bier afbeelding">
        </div>
        <label for="img">Image</label>
        <input
          type="file"
          accept="image/*"
          (change)="handleFileInput($event.target.files)"
          id="img"
          name="img"
          formControlName="img"
          class="form-control">
      </div>

      <button *ngIf="!isEditmode()"class="btn btn-primary" type="submit" [disabled]="!addProductForm.valid" >Add Product</button>
      <button *ngIf="isEditmode()" class="btn btn-success" type="submit" [disabled]="!addProductForm.valid" >edit Product</button>
      <button *ngIf="isEditmode()" (click)="onDeleteProduct()" type="reset" class="btn btn-danger">delete Product</button>
      <button class="btn warning" (click)="onCancel()">Annuleer</button>
    </form>
  </div>
</div>
