
.admin-product {
  display: flex;
  flex-grow: 0;
  background-color: ghostwhite;
  border: 2px solid green;
  cursor: pointer;
  padding: 20px;

  //height: 200px;
  width: 400px;
  //width: max-content;

  .admin-product-information {
    height: fit-content;
    //width: 250px;
    //width: 40%;
  }
  .edit-product-button {
    flex-grow: 0;
    width: 100px;
    margin-top: 50px;
  }
  .admin-product-image-wrapper {
    //display: flex;
    //justify-content: flex-end;
    //width: 100%;
    position: relative;
    //height: 250px;

    .product-image {
      height: 250px;
    }
  }

}







