<div
  routerLinkActive="active"
  class="admin-product"
  (click)="onEdit()">
  <div class="pull-left admin-product-information">
    <h4 class="list-group-item-heading">{{ product.name }}</h4>
    <p class="list-group-item-text">{{ product.price }}</p>
    <p class="list-group-item-text">{{ product.category }}</p>
    <p class="list-group-item-text">{{ product.brewery }}</p>
    <button class="btn btn-primary edit-product-button" (click)="onEdit()" >Edit</button>
  </div>
  <div class="admin-product-image-wrapper">
    <img class="product-image" [src]="'/assets/images/productImgs/' + product.img" >
  </div>
</div>
