<div class="card">
  <div class="imgbox">
    <img [src]="'/assets/images/productImgs/' + product.img" alt="bier afbeelding">
  </div>
  <div class="productDetailBox">
    <h2>{{product.name}}</h2>
    <h4>{{product.category}}</h4>
    <h4>€  {{productPriceString}}</h4>
    <div class="orderBox">
      <input class="order-amount-input" type="number" [(ngModel)]="amount" name="amount" [defaultValue]="1" (keypress)="numberOnly($event)">
      <button class="btn btn-primary" (click)="onAdd(product)"> toevoegen </button>
    </div>
  </div>
</div>
