div.card {
  margin: 2em auto;
  margin-left: 3%;
  width: 30%;
  //height: 350px;
  float: left;
  padding: 15px;
  display: inline-block;
  position: relative;
  background: white;
  border: 1px solid #d2d2d2;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

div.productDetailBox {
}

div.orderBox {
  position: relative;
  bottom: 15px;
  left: 25px;
}

img {
  height: 100%;
  max-height: 180px;
  width: 100%;
  margin: 0px;
  object-fit: contain;
  border-radius: 3px;
}

input {
  width: 40%;
  margin-right: 10%;
}


button {
  width: 40%;
}

h2 {
  font-size: 24px;
}
h4 {
  padding-bottom: 15px;
}
