
@import '~bootstrap/dist/css/bootstrap.min.css';

html {
  background: #b3b5b7;
}

body {
  background: #b3b5b7;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
