
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$webshop-primary: mat.define-palette(mat.$indigo-palette);
$webshop-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$webshop-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$webshop-theme: mat.define-light-theme((
  color: (
    primary: $webshop-primary,
    accent: $webshop-accent,
    warn: $webshop-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($webshop-theme);


/*@import '~bootstrap/dist/css/bootstrap.min.css';*/
//import 'bootstrap/dist/css/bootstrap.min.css'


html {
  /*background: #b3b5b7;*/
  /*background: #c0c0c0;*/
  /*background:  	#5A5A5A;*/
  background:  	#333333;
}

body {
  background:  	#333333;
  /*background:  	#5A5A5A;*/
  /*background: #c0c0c0;*/
  /*background: #b3b5b7;*/
}

light-to-dark {
  /*background: #EEEEEE;*/
  /*background: #DDDDDD;*/
  /*background: #CCCCCC;*/
  /*background: #BBBBBB;*/
  /*background: #333333;*/


}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
